* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

body {
    background-color: #1E1E1E;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 40px;
    font-weight: 400;
    color: #d0d0d0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: auto;
    margin-top: 30px;
}

.input-todo {
    height: 30px;
    width: 400px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
}

.todo-add {
    height: 30px;
    width: 25px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px;
    background-color: transparent;
    color: #d0d0d0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
}

.todo-add:hover {
    color: #5EAF73;
    transition: all ease-in .3s;
}

select {
    height: 30px;
    margin-left: 10px;
    width: 150px;
    border: none;
    font-size: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
    background-color: #d0d0d0;
}

/* Elements created with javascript */

.todo-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.todo-list {
    list-style: none;
    min-width: 30%;
}

.todo-task {
    background-color: transparent;
    color: #d0d0d0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.todo-task li {
    flex: 1;
}

.list-todo {
    margin-left: 10px;
}

.complete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #d0d0d0;
    font-size: 15px;
    width: 30px;
    height: 30px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: #d0d0d0;
    font-size: 15px;
    width: 30px;
    height: 30px;
}

.complete-btn:hover {
    color: #5EAF73;
}

.delete-btn:hover {
    color: #e13433;
}

@media screen and (max-width: 400px) {
    
    .heading {
        margin-top: 40px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 150px;
    }
    
    .input-todo {
        width: 300px;
        height: 30px;
    }

    .todo-add {
        margin-top: 10px;
    }

    .select {
        margin-top: 10px;
    }
}







